{% extends '::layout.html.twig' %}

{% block content %}

	{% include 'FOSMessageBundle:Message:menu.html.twig' with { messagePage: 'deleted' } %}

	<h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>

	{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
