{% extends "layout.html.twig" %}

{% block title %}Рафт: {{ shelf.name }}{% endblock %}

{% block content %}

	{% set shelfDescription %}
		{% if shelf.description is not empty %}
			<div class="shelf-description well">
				{{ shelf.description|nl2br }}
			</div>
		{% endif %}
	{% endset %}
	{% include 'Book/books.html.twig' with { heading: block('title'), contentAfterHeading: shelfDescription, books: pager.currentPageResults } %}
	{% include 'pager.html.twig' %}

{% endblock %}
