/app/config/parameters.yml
/app/config/users.yml
/data/*/*
/data/wiki
/phpunit.xml
/var/*/*
/vendor/
/web/bundles/
/web/cache/*
/web/*.sql.gz
*.min.js
*.swp
/composer.phar

# instaled by composer but not needed
/components

!.gitignore
!.gitkeep
