<ul class="list-inline">
	<li><a href="https://github.com/chitanka/biblioman"><span class="fa fa-code"></span> Изходен код</a></li>
	<li><a href="/db.sql.gz"><span class="fa fa-database"></span> База от данни</a></li>
</ul>
<p>Направено с любов.</p>
