.environment-dev {
	padding-top: 1rem;
}
.environment-dev .environment-badge {
	width: 100%;
	height: 1rem;
	background-color: orangered;
	position: fixed;
	top: 0;
}

form.dirty .changed, .select2-container--bootstrap.changed .select2-selection {
	background-color: #fffebe;
}
form.dirty .form-check-input.changed {
	outline: 6px solid #fffebe;
}
.form-group {
	padding: 0.3em;
}
.form-control:focus {
	background: #FFEDBE;
}
.form-group .col-form-label.required::after, .form-group label.required::after {
	content: "";
}
.form-group .col-form-label.required::before, .form-group .form-control-label.required::before {
	content: "*\00a0";
	color: #D42124;
	font-size: 16px;
}
.form-group .col-form-label, .form-group .form-control-label {
	font-weight: 700;
	margin-right: 0.67em;
}
.form-widget input.form-control, .form-widget select.form-control, .form-widget textarea.form-control {
	max-width: 100%;
}
.form-widget-compound {
	flex-grow: 1;
}
.form-widget-compound .form-group {
	padding: 0.3em;
}
.form-widget-compound .collection-empty {
	display: none;
}
.form-group .field-collection-item-complex label, .form-group .field-collection-item-complex legend.col-form-label {
	flex-basis: 25%;
	text-align: right;
	padding-right: 0.6em;
}
.field-collection[data-entry-is-complex="true"] .form-group .field-collection-item-complex .form-widget {
	flex-basis: 75%;
}
.ea-vich-image-actions {
	float: right;
}
.content-panel-header {
	cursor: pointer;
}
.content-panel-header.collapsed::after {
	content: '\00a0 +';
	font-weight: bold;
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
.last-panel {
	/* leave some room after the last panel so that the scrolling positions it at the top */
	margin-bottom: 50rem;
}
.field-book_cover,
.field-book_scan,
.field-book_content_file {
	border-bottom: 3px dotted #808080;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.field-divider hr {
	border-bottom: 3px dotted #808080;
}
.field-book_cover .field-checkbox,
.field-book_scan .field-checkbox,
.field-book_content_file .field-checkbox {
	display: none;
}
#Book_links .form-help,
#Book_otherCovers .form-help,
#Book_scans .form-help,
#Book_contentFiles .form-help {
	display: none;
}
.form-help p:last-of-type {
	margin-bottom: 0;
}
.field-with-help {
	position: relative;
}
.form-help .wiki-edit-link {
	position: absolute;
	right: 0;
	top: 0;
	opacity: .3;
}

#Book_media .form-check {
	display: inline-block;
	margin-right: 0.5em;
}
