body {
	font-size: 15px;
	line-height: 1.6;
	background-color: white;
}
a {
	color: #337ab7;
}
.overall-header {
	margin: 20px 0;
}
.overall-footer {
	background-color: #2a2730;
	color: #99979c;
	margin-top: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}
.overall-footer ul {
	margin-bottom: 2em;
}
.overall-footer li + li {
	margin-left: 1.5em;
}
.overall-footer a {
	color: #fff;
}
.container .jumbotron {
	padding-left: 50px;
	padding-right: 50px;
}
.sitename, .navbar-brand {
	font-variant: small-caps;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
}
.book-heading {
	font-family: 'Vollkorn', serif;
}
.navbar-text {
	margin-bottom: 13px;
	margin-top: 13px;
}
.alert a {
	font-weight: bold;
	border-bottom: solid 1px #44A4FF;
}
.alert p:last-child {
	margin-bottom: 0;
}

.pagination {
	justify-content: center;
	margin: 1.6rem auto;
}

.new-messages-alert {
	background-color: orangered;
	background-image: linear-gradient(to bottom, #ff7400 0px, orangered 100%);
	color: white;
	border-color: #ff6f00;
	font-weight: bold;
}
.new-messages-alert a {
	color: white;
	border-color: white;
}
.highlight {
	background: #FF9;
	border-radius: 2px;
	padding: 1px;
}
@media screen and (min-width: 992px) {
	.search-input {
		min-width: 540px;
	}
	.navbar-form .search-input .input-group-btn {
		width: 1%;
	}
	.popover {
		min-width: 40em;
	}
}

ins {
	text-decoration: none;
}
del {
	text-decoration: none;
}
.ins-block {
	display: block;
	border-left: 0.5em solid #47ad09;
	padding-left: 0.5em;
}
.del-block {
	display: block;
	border-left: 0.5em solid #91081f;
	padding-left: 0.5em;
	color: #666;
}

div:target {
	border-left: 0.3em solid darkorange;
	box-shadow: 2px 2px 10px -5px darkorange;
}
.books .row+.row, .books-list .book+.book {
	margin-top: 1.6rem;
}
.book-heading {
	text-align: center;
}
.book-heading .author {
	font-size: 70%;
	font-variant: small-caps;
}
.book-snippet-extra-info {
	margin-top: .4rem;
	padding-top: .4rem;
	border-top: 1px solid #e0e0e0;
	font-size: 90%;
}
.book-snippet-created-by {
	white-space: nowrap;
}
.book-title {
	font-weight: bold;
}
.book-subtitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.book-volumeTitle {
	color: #808080;
}
.book-buttons {
	margin-top: .3em;
	padding-top: .3em;
}
.book-incomplete {
	border-left: 0.2em solid red;
}
.badge-editor-senior {
	color: green;
}
.badge-editor-managing {
	color: red;
}
.badge-editor-chief {
	color: red;
	font-size: 110%;
}
h1 .extra-info {
	opacity: .7;
	font-size: 70%;
}
.entity-field-annotation,
.entity-field-toc,
.entity-field-marketingSnippets,
.entity-field-notes,
.entity-field-notesAboutOriginal,
.entity-field-notesAboutAuthor,
.entity-field-infoSources,
.entity-field-linksByCategory {
	margin-top: 1.3em;
}
.dl-horizontal dt {
	text-align: right;
	padding-left: 0;
}
.dl-horizontal dd {
	margin-bottom: 0;
	padding: 0;
}
dd.entity-field-annotation,
dd.entity-field-toc,
dd.entity-field-marketingSnippets,
dd.entity-field-notes,
dd.entity-field-notesAboutOriginal,
dd.entity-field-notesAboutAuthor,
dd.entity-field-infoSources,
dd.entity-field-linksByCategory {
	box-shadow: 0 10px 10px -10px #c0c0c0;
	max-height: 15em;
	overflow-y: auto;
}
figcaption {
	padding: .3em 0;
	text-align: center;
	background-color: #f0f0f0;
	color: black;
}
.link-thumbnail {
	display: block;
}
.img-thumbnail img {
	max-width: 100%;
}
.popover {
	box-shadow: 0 0 20px #808080;
	min-width: 50em;
}

.dl-horizontal dt.entity-field-notesAboutOriginal {
	white-space: normal;
}

@media (max-width:991px) {
	.books-mosaic img {
		height: 35vw;
	}
	.books-mosaic-large img {
		height: 50vw;
	}
}
.book-buttons .shelf-picker {
	margin-left: .3em;
}
.shelf-picker-standalone {
	margin: .6em 0;
}
.shelf-icon {
	color: #FF6A00;
}
.multiselect {
	text-align: left;
}
.multiselect-container .disabled input {
	display: none;;
}
.important-shelf-picker {
	margin-bottom: 0.3em;
}

textarea.message-body {
	height: 15em;
}
.text-content p {
	text-indent: 2em;
	margin: 0;
}
.text-content p:empty {
	margin-bottom: 1em;
}
