{% import '_macros.html.twig' as _ %}
{% for bookRow in books|batch(4) %}
	<div class="row books-mosaic-large">
		{% for book in bookRow %}
			<div class="col-xs-6 col-md-3">
				{{ _.printBookThumbnailLink((book.book is defined ? book.book : book), 300) }}
			</div>
		{% endfor %}
	</div>
{% else %}
	{% include 'Book/notFound.html.twig' %}
{% endfor %}
