{% if mode is not defined %}
	{% set mode = app.request.get('_mode', 'listcols') %}
{% endif %}
<h1 class="clearfix">
	{{ heading }}
	{% include 'App:Book:modeLinks.html.twig' %}
</h1>
{{ contentAfterHeading|default('') }}
{% if mode == 'mosaic' %}
	{% include 'App:Book:booksMosaic.html.twig' %}
{% elseif mode == 'mosaic_large' %}
	{% include 'App:Book:booksMosaicLarge.html.twig' %}
{% elseif mode == 'list' %}
	{% include 'App:Book:booksList.html.twig' %}
{% else %}
	{% include 'App:Book:booksListcols.html.twig' %}
{% endif %}
