{% import '_macros.html.twig' as _ %}
{% for bookRow in books|batch(6) %}
	<div class="row books-mosaic">
		{% for book in bookRow %}
			<div class="col-xs-4 col-md-2">
				{{ _.printBookThumbnailLink((book.book is not empty ? book.book : book), 150) }}
			</div>
		{% endfor %}
	</div>
{% else %}
	{% include 'Book/notFound.html.twig' %}
{% endfor %}
