{% extends "layout.html.twig" %}

{% block title %}Книги{% endblock %}

{% block content %}

	{% include 'App:Book:books.html.twig' with { heading: 'Книги', route: 'books', books: pager.currentPageResults, mode: app.request.get('_mode', 'list') } %}

	{% if pager.haveToPaginate %}
		<div class="text-center">
			{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true, 'prev_message': '←', 'next_message': '→' }) }}
		</div>
	{% endif %}

{% endblock %}

{% block custom_javascript %}
	<script>
		{% if queryWoField is not empty %}
		$(function() {
			$(".book").highlight("{{ queryWoField }}");
		});
		{% endif %}
	</script>
{% endblock %}
