{% extends "layout.html.twig" %}

{% block title %}Книги{% endblock %}

{% block content %}

	<h1>Книги</h1>
	{% for book in pager.currentPageResults %}
		<div>
			{% include 'App:Book:book.html.twig' with {book: book, fields: fields} %}
		</div>
	{% else %}
		<div class="alert alert-warning" role="alert">Няма намерени книги.</div>
	{% endfor %}

	{% if pager.haveToPaginate %}
		<div class="text-center">
			{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true, 'prev_message': '←', 'next_message': '→' }) }}
		</div>
	{% endif %}

{% endblock %}
