{% extends "layout.html.twig" %}

{% block title %}Непълни записи за книги{% endblock %}

{% block content %}

	<h1>{{ block('title') }}</h1>
	{% include 'App:Book:booksList.html.twig' with { books: pager.currentPageResults } %}
	{% include 'App:Book:pager.html.twig' %}

{% endblock %}
