{% if mode is not defined %}
	{% set mode = app.request.get('_mode', 'listcols') %}
{% endif %}
<h1 class="page-header clearfix">
	{{ heading }}
	{% include 'Book/modeLinks.html.twig' %}
	{% if sortableFields is defined %}
		{% include 'Book/sortLinks.html.twig' %}
	{% endif %}
</h1>
{{ contentAfterHeading|default('') }}
<div class="books books-{{ mode }}">
{% if mode == 'mosaic' %}
	{% include 'Book/booksMosaic.html.twig' %}
{% elseif mode == 'mosaic_large' %}
	{% include 'Book/booksMosaicLarge.html.twig' %}
{% elseif mode == 'list' %}
	{% include 'Book/booksList.html.twig' %}
{% else %}
	{% include 'Book/booksListcols.html.twig' %}
{% endif %}
</div>
