{% extends "layout.html.twig" %}

{% block title %}Роли на потребителите{% endblock %}

{% block content %}

	<h1 class="page-header">{{ block('title') }}</h1>
	{% for role in roles %}
		<h2>{{ ('roles.'~role)|trans|upper }}</h2>
		<ul>
		{% for user in users %}
			{% if user.is(role) %}
				<li><a href="{{ path('books', { q: 'createdBy: '~user.username }) }}">{{ user.username }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endfor %}

{% endblock %}
