.form-group {
	margin-bottom: .5em;
}
.form-control, .form-control:focus {
	border: 1px solid #d0d0d0;
}
.form-control:focus {
	background-color: #FFEDBE;
}
.scans .field-collection > label {
	display: none;
}
.field-book_scan {
	border-bottom: 1px solid #eee;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
