.form-group {
	margin-bottom: .5em;
}
.form-control, .form-control:focus {
	border: 1px solid #d0d0d0;
}
.form-control:focus {
	background-color: #FFEDBE;
}
form label.control-label.required::after {
	content: "";
}
form label.control-label.required::before {
	content: "*\00a0";
	color: #D42124;
	font-size: 16px;
}
.field-book_cover,
.field-book_scan {
	border-bottom: 3px dotted #808080;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.field-book_cover .field-checkbox,
.field-book_scan .field-checkbox {
	display: none;
}
.help-block p:first-of-type {
	display: inline;
	padding-left: .3em;
}
.help-block .wiki-edit-link {
	position: absolute;
	right: 0;
	top: 0;
	opacity: .3;
}

#book_media .radio {
	display: inline-block;
	margin-right: 1em;
}
