body {
	padding: 20px 10px;
	font-size: 15px;
	line-height: 1.6;
}
.container .jumbotron {
	padding-left: 50px;
	padding-right: 50px;
}
.sitename {
	font-variant: small-caps;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
}
.highlight {
	background: #FF9;
	border-radius: 2px;
	padding: 1px;
}
