body {
	font-size: 15px;
	line-height: 1.6;
}
.overall-header {
	margin-top: 20px;
}
.overall-footer {
	background-color: #2a2730;
	color: #99979c;
	margin-top: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}
.overall-footer ul {
	margin-bottom: 2em;
}
.overall-footer li + li {
	margin-left: 1.5em;
}
.overall-footer a {
	color: #fff;
}
.container .jumbotron {
	padding-left: 50px;
	padding-right: 50px;
}
.sitename, .navbar-brand {
	font-variant: small-caps;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
}
.navbar-text {
	margin-bottom: 13px;
	margin-top: 13px;
}
.new-messages-alert {
	background-color: orangered;
	color: white;
	font-weight: bold;
}
.new-messages-alert a {
	color: white;
}
.highlight {
	background: #FF9;
	border-radius: 2px;
	padding: 1px;
}
@media screen and (min-width: 992px) {
	#q {
		min-width: 500px;
	}
	.popover {
		min-width: 40em;
	}
}

ins {
	text-decoration: none;
}
del {
	text-decoration: none;
}
.ins-block {
	display: block;
	border-left: 0.5em solid #47ad09;
	padding-left: 0.5em;
}
.del-block {
	display: block;
	border-left: 0.5em solid #91081f;
	padding-left: 0.5em;
	color: #666;
}

div:target {
	border-left: 0.3em solid darkorange;
	box-shadow: 2px 2px 10px -5px darkorange;
}
.book-heading {
	text-align: center;
}
.book-heading .author {
	font-size: 70%;
	font-variant: small-caps;
}
.entity-fieldtoc,
.entity-fieldmarketingSnippets,
.entity-fieldnotes,
.entity-fieldnotesAboutOriginal,
.entity-fieldinfoSources {
	margin-top: 1em;
}
.thumbnail .caption {
	padding: .3em 0;
	text-align: center;
}
