body {
	font-size: 15px;
	line-height: 1.6;
}
.overall-header {
	margin-top: 20px;
}
.overall-footer {
	background-color: #2a2730;
	color: #99979c;
	margin-top: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}
.overall-footer ul {
	margin-bottom: 2em;
}
.overall-footer li + li {
	margin-left: 1.5em;
}
.overall-footer a {
	color: #fff;
}
.container .jumbotron {
	padding-left: 50px;
	padding-right: 50px;
}
.sitename, .navbar-brand {
	font-variant: small-caps;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
}
.navbar-text {
	margin-bottom: 13px;
	margin-top: 13px;
}
.highlight {
	background: #FF9;
	border-radius: 2px;
	padding: 1px;
}
@media screen and (min-width: 992px) {
	#q {
		min-width: 500px;
	}
	.popover {
		min-width: 40em;
	}
}
