{% set label_map = { altname: 'default', canonical: 'primary', pseudonym: 'info', realname: 'success', wrongname: 'danger' } %}
<span class="label label-{{ label_map[value] }}">{{ ('person.'~value)|trans }}</span>
