{% set label_map = { altname: 'default', canonical: 'primary', pseudonym: 'info', realname: 'success', wrongname: 'danger', maybe: 'default' } %}
<span class="label label-{{ label_map[value]|default('default') }}">{{ ('person.'~value)|trans }}</span>
