<ul class="list-inline">
	{% for link in footer_links %}
		<li class="list-inline-item"><a href="{{ link.url }}"><span class="fa fa-{{ link.icon }}"></span> {{ link.text }}</a></li>
	{% endfor %}
</ul>
<p>Създадено с любов.</p>
<div><div style="border-radius: 50px; background-color: white; width: 100px; height: 100px; margin: 0 auto; padding: 5px 0 0 3px;"><img src="/images/logo.png" alt="Бежко" loading="lazy"></div></div>
