{% extends "layout.html.twig" %}

{% block content %}
<div style="width: 600px; margin: 5em auto; text-align: center; font-size: 150%">
	<h1><a href="https://github.com/bmanolov/biblioman"><span class="fa fa-github"></span> Biblioman</a></h1>
	<span class="fa fa-book" style="font-size:1500%"></span>
	<p>Очаквайте скоро!</p>
</div>
{% endblock %}
