{% extends "layout.html.twig" %}

{% block content %}

	<div class="jumbotron">
		<p><i class="sitename">{{ sitename }}</i> е проект за създаване на пълно описание на всички книги, издадени на български език.</p>
	</div>
	<div class="alert alert-info">
		<p>Търсят се помощници, които да участват с въвеждане на информация или със сканиране на корици.</p>
		<p>Разгледайте <a href="{{ path('docs_books') }}">помощната информация</a> и се включете с описване на личната си библиотека. <i class="sitename">{{ sitename }}</i> има нужда от вас.</p>
		{% if is_granted('ROLE_EDITOR') %}
			<p class="text-center"><a href="{{ path('easyadmin', {'action': 'new', 'entity': 'Book'}) }}" class="btn btn-primary"><span class="fa fa-plus"></span> Добавяне на нова книга</a></p>
		{% endif %}
	</div>
	<h1>Последни книги</h1>
	{% for book in recentBooks %}
		<div>
			{% include 'App:Book:book.html.twig' with {book: book, fields: fields} %}
		</div>
	{% endfor %}

{% endblock %}
