{% extends "layout.html.twig" %}

{% block content %}

	<h1>Последни книги</h1>
	{% for book in recentBooks %}
		<div>
			{% include 'App:Book:book.html.twig' with {book: book} %}
		</div>
	{% endfor %}

{% endblock %}
