{% extends "layout.html.twig" %}

{% set title %}Попълване на информация за книги{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<h1>{{ title }}</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('docs') }}"><span class="fa fa-file-text-o"></span> Документация</a></li>
	</ol>

	<p>В <i class="sitename">Библиоман</i> се записва цялата налична информация за една книга, която може да се открие в хартиеното издание. Заедно с това се качват и сканове на кориците, както и на всички вътрешни страници преди и след основното текстово съдържание на книгата.</p>

	<p>Страницата, на която се описва една книга, има много отделни полета, които покриват различните библиографски характеристики. Много от тези полета ще остават празни, защото не навсякъде е посочена конкретната информация. Когато обаче за съответното поле може да се открие информация от другаде, тя се въвежда и се маркира с низа „(не е указано)“. Например: <code>Националност: френска (не е указано)</code>. Източниците на всяка такава допълнителна информация, която липсва в книгата, трябва да се записват в полето „Бележки“. Там се въвеждат и всякакви други данни, които не са подходящи за останалите полета.</p>

	<h2>Описание на отделните полета</h2>

	<dl>

	<dt>Автор</dt>
	<dd>Тук се записва авторът или авторите на книгата. Ако са няколко, се разделят със запетая.</dd>

	<dt>Заглавие</dt>
	<dd>Заглавието на книгата.</dd>

	<dt>Подзаглавие</dt>
	<dd>Някои книги имат подзаглавия. Тук се записва то.</dd>

	<dt>Поредица / Серия</dt>
	<dd>Евентуална издателска поредица, напр. „Библиотека Здраве“, „Библиотека Галактика“.</dd>

	<dt>№ в поредица / серия</dt>
	<dd>Тук се слага номерът на книгата в горната поредица. Попълва се само ако поредицата е номерирана, иначе остава празно.</dd>

	<dt>Преводач</dt>
	<dd>Преводачът или преводачите на книгата. Ако са няколко, се разделят със запетая.</dd>

	<dt>Език, от който е преведено</dt>
	<dd>Езикът, от който е преведена книгата, напр. английски, френски, немски.</dd>

	<dt>Година на превод</dt>
	<dd>Годината на превод. В повечето случаи тази година съвпада с годината на издаване, но при последващи издания (второ, трето) тук се записва годината на първото издание.
		Пример:
		<a href="{{ path('books_show', {id: 3}) }}">„Съкровището в сребърното езеро“</a>.
		Това е второ издание, затова при година на превод се дава годината на първото издание.</dd>

	<dt>Съставител</dt>
	<dd>Тук се вписват съставителите на книгата. Такава информация обикновено има при сборници с разкази, иначе си остава празно. Ако са повече, се разделят със запетая.</dd>

	<dt>Редакционна колегия</dt>
	<dd>В някои книги е посочена „редакционна колегия“, обикновено са няколко човека. Разделят се със запетая.</dd>

	<dt>Отговорен редактор</dt>
	<dd>Някъде го има, другаде не.</dd>

	<dt>Редактор</dt>
	<dd>Редактор на книгата.</dd>

	<dt>Редактор на издателството</dt>
	<dd>Обикновено го има при старите издания.</dd>

	<dt>Консултант</dt>
	<dd>Има го при научни книги или където се налагат специфични познания при превода.</dd>

	<dt>Художник</dt>
	<dd>Посочва се като „Художник“, „Илюстрация на корицата“, „Художник на корицата“.</dd>

	<dt>Художествен редактор</dt>
	<dd>Обикновено го посочват точно така.</dd>

	<dt>Технически редактор</dt>
	<dd>И него така го посочват.</dd>

	<dt>Рецензент</dt>
	<dd>Може да са няколко. Разделят се със запетая.</dd>

	<dt>Коректор</dt>
	<dd>Ако са няколко, се разделят със запетая.</dd>

	<dt>Оформление</dt>
	<dd>В книгите също се посочва като „Оформление“.</dd>

	<dt>Оформление на корица</dt>
	<dd>Среща се и като „Дизайн на корицата“.</dd>

	<dt>Компютърна обработка</dt>
	<dd>Среща се и като „Компютърен дизайн“.</dd>

	<dt>Предпечатна подготовка</dt>
	<dd>Някъде го пише само „Предпечат“.</dd>

	<dt>Издател</dt>
	<dd>Име на издателството, както е посочено в книгата, например <b>Издателска къща „Портокал“</b>.</dd>

	<dt>Град на издателя</dt>
	<dd>Градът на издателството: София, Пловдив, Варна…</dd>

	<dt>Година на издаване</dt>
	<dd>Годината на издаване; обикновено я пише на първите страници, заедно с града на издателя.</dd>

	<dt>Печатница</dt>
	<dd>Печатницата, която е отпечатал книгата; някъде се посочва като „Печат“.</dd>

	<dt>Тип</dt>
	<dd>Типът на книгата, напр. роман, сборник разкази, сборник, стихосбирка.</dd>

	<dt>Националност</dt>
	<dd>Националността на книгата; напр. американска, английска, френска, немска, българска.</dd>

	<dt>Език</dt>
	<dd>Езикът, на който е написана книгата; най-често това ще е „български“.</dd>

	<dt>Поредност на изданието</dt>
	<dd>Кое издание е книгата: първо, второ, трето и т.н.; посочва се като число: 1, 2, 3…</dd>

	<dt>Литературна група</dt>
	<dd>При някои издания се посочва като „ЛГ“, например: ЛГ VII</dd>

	<dt>
		Дадена за набор/печат,
		Подписана за печат,
		Излязла от печат
	</dt>
	<dd>При по-новите издания дават информация само за някои от тях; обикновено са във формат „МЕСЕЦ ГОДИНА“.</dd>

	<dt>Печатни коли</dt>
	<dd>Може да го пишат и като „Печ. коли“ или „ПК“ или „обем“.</dd>

	<dt>Издателски коли</dt>
	<dd>Среща и като „Изд. коли“.</dd>

	<dt>УИК</dt>
	<dd>Условно издателски коли; среща се и като „Условно издателски коли“, „Усл. изд. коли“.</dd>

	<dt>Формат</dt>
	<dd>Формат на книгата; може да е нещо като 1/16/60 или пък 60×90/120.</dd>

	<dt>Код / Тематичен номер</dt>
	<dd>Това е един номер, който обикновено се представя с голяма дробна черта, но някой път се среща и само с наклонена черта (/). Ще се записва посредством наклонена черта.</dd>

	<dt>Номер</dt>
	<dd>Обикновено е от вида на буква с някакво число, напр. „С-32“ или „Ч840“. При някои книги този номер е записан на една от първите страници, отгоре вляво.</dd>

	<dt>Поръчка / Издателски №</dt>
	<dd>Това е някакъв издателски номер. Някъде го пише като „Издателски №“, другаде — като „Поръчка“.</dd>

	<dt>Брой страници</dt>
	<dd>Брой на страниците; преброяват се ръчно, като се броят всички листове до края; даже и тези, които нямат номерация. Трябва винаги да е четно число.</dd>

	<dt>Тираж</dt>
	<dd>При много книги не е посочен.</dd>

	<dt>Цена</dt>
	<dd>цената, която е записана на корицата или вътре в книгата.</dd>

	<dt>Подвързия</dt>
	<dd>Видът на корицата — мека или твърда.</dd>

	<dt>С илюстрации</dt>
	<dd>Дали книгата има илюстрации.</dd>

	<dt>ISBN</dt>
	<dd>Изданията след 90-те обикновено имат ISBN от 10 знака (без тиретата). Най-новите издания имат ISBN от 13 знака (без тиретата), но някои допълнително имат и ISBN 10.</dd>

	<dt>Жанр</dt>
	<dd>Тук се посочва жанрова класификация на книгата.</dd>

	<dt>Теми</dt>
	<dd>Тук се вписват основните теми, за които става дума в произведенията от книгата.</dd>

	<dt>Анотация</dt>
	<dd>Анотация на книгата; обикновено се намира на задната корица.</dd>

	<dt>Съдържание</dt>
	<dd>Тук се вписва съдържанието на книгата, ако такова е посочено. Задължително е да се попълва, когато книгата е сборник или стихосбирка.</dd>

	<dt>Бележки</dt>
	<dd>Тук се записва всякаква друга информация, която не влиза в никое от горните полета или която не се намира в хартиеното издание.</dd>

	<dt>Бележки за изданието, от което е направен преводът</dt>
	<dd>Тук се слага информация за изданията, от които е направен преводът. Обикновено я пишат на една от първите страници.</dd>

	<dt>Корица</dt>
	<dd>Сканирана предна корица.</dd>
	<dt>Задна корица</dt>
	<dd>Сканирана задна корица.</dd>
	<dt>Сканирана страница</dt>
	<dd>Тук се качват вътрешните страници, които съдържат разна информация за книгата. Това са първите няколко страници до началото на основния текст на книгата, както и всички страници след края на текста. Страниците със съдържанието също трябва да се качват тук.</dd>

	</dl>

	<h2>За скановете</h2>

	<p>
		Скановете на кориците трябва да са минимум 1000 пиксела по ширина. Скановете на вътрешни страници могат да са по-малки, но текстът на тях трябва да е ясно четлив.
	</p>
{% endblock %}
