{% extends "layout.html.twig" %}

{% set title %}Документация{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<h1>{{ title }}</h1>

	<ul>
		<li><a href="{{ path('docs_books') }}">Попълване на информация за книги</a></li>
	</ul>

{% endblock %}
